flask
flask_mysqldb
flask_mail
stripe
python-dotenv
wtforms
flask_wtf
email_validator
pandas
scikit-learn
#socket #this module is needed for qrcodes to work but it gives error in render.com, therefore it is commented for now
qrcode