<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
    <title>Set Password</title>
</head>

<body>
    <div class="login-page">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-info" role="alert">{{msg}}</div>
            {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="form">
            <form class="login-form" action="{{url_for('setnewpass')}}" method="post">
                
                <input type="password" placeholder="Set New Password" name="newPass" />
                <input type="password" placeholder="Set New Password" name="newConfPass" />
                <input type="submit" value="submit" >
            
            </form>

        </div>
    </div>
</body>

</html>