{% extends 'adminheader.html' %}

{% block navmarketing %}
<form action="{{url_for('admin')}}" method="post"> 
    <input type="hidden" name="form_type" value="admin_marketingNav">
    <input type="submit" class="list-group-item list-group-item-action active" value="Marketing Mails">
</form>
{% endblock navmarketing %}

{% block content %}
<div style="background-color: #f0f0f0; padding: 10px; border: 1px solid #ccc;">
    <h2>Send Marketing Email</h2>
    <form action="{{ url_for('admin') }}" method="post">
        {{ form3.hidden_tag() }}
        <div class="form-group">
            {{ form3.subject.label(class="form-label") }}
            {{ form3    .subject(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form3.message.label(class="form-label") }}
            {{ form3.message(class="form-control", rows=15) }}
            <small class="form-text text-muted">This mail will be sent to all registered users.</small>
        </div>
        {{ form3.submit(class="btn btn-primary form-control") }}
    </form>
</div>

{% endblock content %}