
{% extends 'adminheader.html' %}

{% block adminfood %}
<form action="{{url_for('admin')}}" method="post"> 
	<input type="hidden" name="form_type" value="admin_food">
	<input type="submit" class="list-group-item list-group-item-action active" value="Manage Food Menu">
</form>
{% endblock adminfood %}

{% block content %}

<style>
	.parent{
		display: flex;
		justify-content: space-between;
	}
	.child1,.child2{
		flex: 1;
		margin-right: 5%;
	}
	.child2{
		margin-right: 0px;
	}

	@media (max-width: 767px) { /* apply the following styles for screens up to 767px wide */
  .parent {
    flex-direction: column; /* stack the boxes vertically */
    justify-content: center; /* center the boxes vertically */
  }
  
  .child1, .child2 {
    flex: none; /* remove the flex property to allow the boxes to take up their full width */
    margin-right: 0; /* remove the right margin from both boxes */
  }
}
</style>
<div class="parent">

	<div class="child1" style="background-color: #f0f0f0; padding: 10px; border: 1px solid #ccc;">
		
			<h2 class="mb-4">Add Food Items</h2>
			<form method="post" action="/beverages" id="myForm">
				{{ form.hidden_tag() }}
				<div class="form-group">
					<label for="foodtitle">Title:</label>
					{{ form.foodtitle(class="form-control") }}
				</div>
				<div class="form-group">
					<label for="fooddescription">Description:</label>
					{{ form.fooddescription(class="form-control") }}
				</div>
				<div class="form-group">
					<label for="foodurlimage">Image URL:</label>
					{{ form.foodurlimage(class="form-control") }}
				</div>
				<div class="form-group">
					<label for="foodprice">Price:</label>
					{{ form.foodprice(class="form-control") }}
				</div>
				<div class="form-group">
					<label for="method">Category:</label>
					{{ form.method(class="form-control") }}
				</div>
				{{ form.submit(class="btn btn-primary form-control") }}
			</form>
	</div>

	<div class="child2" style="background-color: #f0f0f0; padding: 10px; border: 1px solid #ccc;">
		<h2 class="mb-4">Delete Food Items</h2>
		<form action="{{ url_for('admin') }}" method="post">
			{{ form1.hidden_tag() }}
			{{ form1.form_type() }} <!-- Render the hidden form_type field -->
			
			<label for="foodName">Food Item Title:</label>
			{{ form1.foodName(class="form-control", id="foodName") }}
			
			<label for="foodCategory">Category:</label>
			{{ form1.foodCategory(class="form-control", id="foodCategory") }}
			<br>
			{{ form1.submit(class="btn btn-danger form-control") }}
		</form>
	</div>
</div>
<script>
	const form = document.getElementById('myForm');
	const select = document.getElementById('method');
	
	select.addEventListener('change', () => {
		form.action = select.value;
		console.log(select.value);
	});
</script>
{% endblock content %}