{% extends 'adminheader.html' %}
    {% block content %}
    <div style="background-color: #f0f0f0; padding: 10px; border: 1px solid #ccc;">
        <form action="/stripe" method="POST">
            {{ form2.csrf_token }}
            <h2 class="mb-4">Stripe Keys</h2>
            <div class="form-group">
                <label for="stripeApiKey">Stripe Api Key:</label>
                {{ form2.stripeApiKey(class="form-control yellow-placeholder", placeholder=apikey) }}
            </div>
            
            <div class="form-group">
                <label for="stripepublishableKey">Stripe Publishable Key:</label>
                {{ form2.stripePubKey(class="form-control yellow-placeholder", placeholder=pubkey) }}
            </div><br>
            
            {{ form2.submit(class="btn btn-primary") }}
        </form>
    </div>
    {% endblock content %}

    {% block navpayment %}
    <form action="{{url_for('admin')}}" method="post" > 
        <input type="hidden" name="form_type" value="payment_gateway">
        <input type="submit" class="list-group-item list-group-item-action active" value="Payment Gateway">
    </form>
    {% endblock navpayment %}
    

