{% extends 'adminheader.html' %}

{% block navorders %}
<form action="{{url_for('admin')}}" method="post"> 
	<input type="hidden" name="form_type" value="admin_manageOrders">
	<input type="submit" class="list-group-item list-group-item-action active" value="Manage Orders">
</form>
{% endblock navorders %}

{% block content %}
<style>
    table {

    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid darkgray;
    padding: 8px;
    text-align: center;
}
.parent{
		display: flex;
		justify-content: space-evenly;
	}
	.child{
		flex: 0;
	}
</style> 

<div style="background-color: #f0f0f0; padding: 10px;  border: 1px solid #ccc;">
    <h2>Pending Orders</h2><br>
        <table>
            <tr>
            <th>Name</th>
            <th>Item</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Additional Note</th>
            <th>Table No</th>
            <th>Served</th>
            </tr>

            {% for name,item,price,date,note,tableno,served,stripeid in pendingorders %}
            <tr>
                <td>{{name}}</td>  
                <td>{{item}} </td>
                <td>₹{{price}} </td>
                <td>{{date}} </td>
                <td>{{note}} </td>
                <td>{{tableno}} </td>
                <td>
                    <div class="parent">
                        <div class="child">             
                            <form action="{{url_for('admin')}}" method="post" data-form-type="form4">
                                {{ form4.csrf_token }}
                                {{ form4.form_type_add }}
                                {{ form4.stripeid (value = stripeid)}}
                               
                                {{ form4.submit(class="btn btn-success form-control") }}
                            </form> 
                        </div>

                        <div class="child">   
                            <form action="{{url_for('admin')}}" method="post">
                                {{ form5.csrf_token }}
                                {{ form5.form_type_del }}
                                {{ form5.stripeid (value = stripeid)}}
                                
                                {{ form5.submit(class="btn btn-danger form-control") }}
                            </form>
                        </div>
                    </div>
                </td>
                
            
            </tr>
            {% endfor %}
        </table>
</div>
<div style="background-color: #f0f0f0; padding: 10px; margin-top: 5%; border: 1px solid #ccc;">
    <h2>All Orders</h2><br>
    <table>
        <tr>
        <th>Name</th>
        <th>Item</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Status</th>
        </tr>
        {% for name,item,price,date,served in allOrders %}
        <tr>
            <td>{{name}}</td>  
            <td>{{item}}</td>  
            <td>₹{{price}}</td>  
            <td>{{date}}</td>  
            {% if served|string == '0' %} 
            <td><button class="btn btn-warning">Pending</button></td>
            {% elif served|string == '2' %} 
            <td><button class="btn btn-danger">Cancelled</button></td>
            {% else %}
            <td><button class="btn btn-success">Completed</button></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}