<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
    <script src="{{url_for('static', filename='admin.js')}}"></script>
    <title>Admin Login</title>
</head>

<body>
    <div class="login-page">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-info" role="alert">{{msg}}</div>
            {% endfor %}
        {% endif %}
      {% endwith %}
        <div class="form">
            {% if noacc == True %}
            <h2>Create Administrator Account</h2>
            <form class="login-form" action="{{url_for('adminauth')}}" method="post">
                {{ form1.csrf_token }}
                {{ form1.setUsername }}
                {{ form1.setEmail }}
                {{ form1.setPassword }}
                {{ form1.submit }}
            </form>
            {% else %}
            <h2>Administrator Login</h2>
            
            <form class="login-form" action="{{url_for('adminlogin')}}" method="post">
                {{ form.csrf_token }}
                {{ form.adminUsername }}
                {{ form.adminPassword }}
                {{ form.submit }}
                <a href="{{url_for('forgetpass')}}">Forgot password ?</a>
            </form>
            {% endif %}

        </div>
    </div>
</body>

</html>