
{% extends 'adminheader.html' %}

{% block adminfood %}
<form action="{{url_for('admin')}}" method="post"> 
	<input type="hidden" name="form_type" value="admin_food">
	<input type="submit" class="list-group-item list-group-item-action active" value="Manage Food Menu">
</form>
{% endblock adminfood %}

{% block content %}

<style>
	.parent{
		display: flex;
		justify-content: space-between;
	}
	.child1,.child2{
		flex: 1;
		margin-right: 5%;
	}
	.child2{
		margin-right: 0px;
	}

	@media (max-width: 767px) { /* apply the following styles for screens up to 767px wide */
  .parent {
    flex-direction: column; /* stack the boxes vertically */
    justify-content: center; /* center the boxes vertically */
  }
  
  .child1, .child2 {
    flex: none; /* remove the flex property to allow the boxes to take up their full width */
    margin-right: 0; /* remove the right margin from both boxes */
  }
}
</style>
<div class="parent">

	<div class="child1" style="background-color: #f0f0f0; padding: 10px; border: 1px solid #ccc;">
		
			<h2 class="mb-4">Add Food Items</h2>
			<form action="/beverages"  id="myForm" method="POST">

			<div class="form-group">
				<label for="coffeeTitle">Title:</label>
				<input type="text" name="foodtitle" class="form-control" >
			</div>

			<div class="form-group">
				<label for="coffeeDescription">Description:</label>
				<input type="text" name="fooddescription" class="form-control">
			</div>

			<div class="form-group">
				<label for="coffeeimage">Image:</label>
				<input type="url" name="foodurlimage" class="form-control" >    
			</div> 

			<div class="form-group">
				<label for="price">Price:</label>
				<input type="number" name="foodprice" class="form-control" > 
			</div>

			<div class="form-group">
				<label for="category">Category</label>
				<select name="method" id="method" class="form-control">
					<option value="/beverages">Beverages</option>
					<option value="/breakfast">Breakfast</option>
					<option value="/lunch">Lunch / Dinner</option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary form-control">Submit</button>
			</form>
	</div>

	<div class="child2" style="background-color: #f0f0f0; padding: 10px; border: 1px solid #ccc;">
		<h2 class="mb-4">Delete Food Items</h2>
		<form action="{{url_for('admin')}}" method="post">
			<input type="hidden" name="form_type" value="admin_delfood">
			<label for="foodtitle">Food Item Title:</label>
			<input type="text" name="foodName" placeholder="Item Name" class="form-control">

			<label for="category">Category:</label>
			<select name="foodCategory" class="form-control">
				<option value="beverages">Beverages</option>
				<option value="breakfast">Breakfast</option>
				<option value="lunch">Lunch / Dinner</option>
			</select>
			<br>
			<input type="submit" value="Delete" class="btn btn-danger form-control">
		</form>
	</div>
</div>
<script>
	const form = document.getElementById('myForm');
	const select = document.getElementById('method');
	
	select.addEventListener('change', () => {
		form.action = select.value;
		console.log(select.value);
	});
</script>
{% endblock content %}



		
		
