<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		/* Style the navigation bar */
		nav {
			background-color: #f2f2f2;
			padding: 20px;
			height: 100%;
			position: fixed;
			left: 0;
			top: 0;
			width: 240px;
		}
		
		/* Style the links in the navigation bar */
		nav a {
			display: block;
			padding: 10px;
			color: #000;
			text-decoration: none;
			width: 100%;
		}
		
		/* Style the active link */
		nav a.active {
			background-color: #ddd;
		}
		
		/* Style the main content */
		.main-content {
			margin-left: 240px;
			padding: 20px;
			width: calc(100vw - 240px);
		}
        .yellow-placeholder::placeholder { 
        color: #4360DF;
        }
	</style>
</head>
<body>
	<!-- Navigation Bar -->
	<nav class="bg-light">

	{% if homeactive %}
		{% block homenav %}
		{% endblock homenav %}
	{% else %}
	<form action="{{url_for('admin')}}" method="post"> 
		<!-- <input type="hidden" name="form_type" value="admin_food"> -->
		<input type="submit" class="list-group-item list-group-item-action" value="Home">
	</form>
	</form>
	{% endif %}	
		
    {% if foodactive %}
        {% block adminfood %}
        {% endblock adminfood %}
    {% else %}
	<form action="{{url_for('admin')}}" method="post"> 
		<input type="hidden" name="form_type" value="admin_food">
		<input type="submit" class="list-group-item list-group-item-action" value="Manage Food Menu">
	</form>
    {% endif %}

	{% if adminManageAccounts %}
		{% block navaccounts %}
		{% endblock navaccounts %}
	{% else %}
	<form action="{{url_for('admin')}}" method="post"> 
		<input type="hidden" name="form_type" value="admin_manageaccounts">
		<input type="submit" class="list-group-item list-group-item-action" value="Manage Accounts">
	</form>
	{% endif %}

	{% if adminManageOrders %}
        {% block navorders %}
        {% endblock navorders %}
    {% else %}
        <form action="{{url_for('admin')}}" method="post"> 
            <input type="hidden" name="form_type" value="admin_manageOrders">
            <input type="submit" class="list-group-item list-group-item-action" value="Manage Orders">
        </form>
	{% endif %}
    
    {% if emailactive %}
        {% block navmail %}
        {% endblock navmail %}
    {% else %}
        <form action="{{url_for('admin')}}" method="post"> 
            <input type="hidden" name="form_type" value="admin_email">
            <input type="submit" class="list-group-item list-group-item-action {{active}}" value="Email Authentication">
        </form>
    {% endif %}
    
    {% if paymentactive %}
        {% block navpayment %}
        {% endblock navpayment %}
    {% else %}
        <form action="{{url_for('admin')}}" method="post"> 
            <input type="hidden" name="form_type" value="payment_gateway">
            <input type="submit" class="list-group-item list-group-item-action" value="Payment Gateway">
        </form>
	{% endif %}

    {% if marketingMail %}
        {% block navmarketing %}
        {% endblock navmarketing %}
    {% else %}
        <form action="{{url_for('admin')}}" method="post"> 
            <input type="hidden" name="form_type" value="admin_marketingNav">
            <input type="submit" class="list-group-item list-group-item-action" value="Marketing Mails">
        </form>
	{% endif %}
    
	{% if mlnav %}
        {% block navml %}
        {% endblock navml %}
    {% else %}
        <form action="{{url_for('admin')}}" method="post"> 
            <input type="hidden" name="form_type_ml" value="admin_navml">
            <input type="submit" class="list-group-item list-group-item-action" value="Predict Sales">
        </form>
	{% endif %}

	</nav>
    <!-- Navigation Bar End -->
  	
    
    <!-- Main Content -->
	<div class="container-fluid main-content">
		<div class="containerlogout">
			<form action="{{url_for('adminout')}}" method="post">
			  <input type="submit" value="Logout" class="btn btn-danger" style="float: right;">
			  <center><h1>ADMIN PAGE</h1></center>
			</form>
		</div>
	
    
		<div class="container" style="padding-top:1%; padding-bottom: 1%; margin-top: 3%;">
			<!-- Alert Section Start-->
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for msg in messages %}
					<div class="alert alert-info" role="alert">{{msg}}</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<!-- Alert Section End-->

				
		</div>
		{% block content %} {% endblock content %}
	</div>
    
	<!-- Bootstrap JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
