{% extends 'header.html' %}

{% block content %}

{% if item %}
<div class="container">
  <table>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    {% for i in range(item|length) %}
    <tr>
        <td>{{item[i][-1]}}</td>
        <td> {{quantity[i][-1]}}</td>
        <td>{{price[i][-1]}}</td>
        <td>{{total[i][-1]}}</td>
    </tr>
    {% endfor %}
  </table>
  <h3 style="color: green; float: right;">Total: ₹{{total_column[-1]}}</h3>
</div>

  {% else %}
  <div class="container">
    <center>
      <h3> <b style="color: #4360DF;">No items in the cart!</b></h3>
    </center>
  </div>
  {% endif %}


<div class="container" style="padding-top: 1%;">
    <form action="/pay" method="post">
        <div class="form-group">
          <label for="orderingType" style="color: lightgrey">Ordering type</label>
          <select class="form-control" id="orderingType" style="background-color: #131416; color: lightgrey">
            <option>On premise</option>
            <option>Takeaway</option>
            <option>Delivery</option>
          </select>
        </div> <br>
        <div class="form-group">
          <label for="payVia" style="color: lightgrey">Pay via</label>
          <select class="form-control" id="payVia" style="background-color: #131416; color: lightgrey">
            <option>Credit/Debit Card</option>
          </select>
        </div> <br>
        <div class="form-group">
          <label for="tableNo" style="color: lightgrey">Table no</label>
          <input type="number" class="form-control" name="tableno" style="background-color: #131416;  color: lightgrey" required>
        </div> <br>
        <div class="form-group">
          <label for="message" style="color: lightgrey">Message</label>
          <textarea class="form-control" id="message" rows="3" style="background-color: #131416; color: lightgrey" name="additionalNote"></textarea>
          <sub style="color: grey;">Leave empty if you don't want to send any custom message</sub>
        </div> <br> 
        <br>
        <input type="text" name="totalcartvalue" value="{{total_column[-1]}}" hidden>
        <button type="submit" class="btn btn-primary" style="width: 100%; background-color: #4360DF; color: lightgrey">Submit</button>
      </form>  
</div> 

<script src="https://js.stripe.com/v3/"></script>
<script>
  const stripe = Stripe("{{pubkey_formatted}}");
  document.querySelector("form").addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(event.target);
    const response = await fetch("/pay", {
      method: "POST",
      body: formData,
    });
    const checkoutSessionId = await response.text();

    stripe.redirectToCheckout({ sessionId: checkoutSessionId });
  });
</script>
{% endblock %}