{% extends 'header.html' %}

{% block content %}
<div class="container" style="width: fit-content;">
    <div class="form-group">
        <form method="post" action="{{ url_for('login') }}">
            {{ form.csrf_token }}
            <h2>Login Form</h2>
            <b>Enter Email:</b>
            {{ form.email(class="form-control", required=True) }}<br><br>
            <b>Enter Password:</b>
            {{ form.password(class="form-control", required=True) }}<br><br>
            <input type="submit" class="btn btn-primary" value="Submit"><br><hr>
            <a href="{{ url_for('register') }}">New User? Register instead</a>
        </form>
    </div>
</div>
{% endblock content %}

