{% extends 'header.html' %}

{% block content %}

<form method="post" action="{{ url_for('register') }}">

        <div class="container" style="width:fit-content">
            <h2>Registration Form</h2>
            {{ form.hidden_tag() }}
            <b>Enter Name:</b>
            {{ form.userName(class="form-control", required=True) }}<br><br>
            <b>Enter Email:</b>
            {{ form.email(class="form-control", required=True) }}<br><br>
            <b>Enter Password:</b>
            {{ form.password(class="form-control", required=True) }}<br><br>
            <b>Confirm Password:</b>
            {{ form.confpass(class="form-control", required=True) }}<br><br>
            
			<input type="submit" class="btn btn-primary" value="Submit"><br><hr>
            <a href="{{ url_for('login') }}">Already registered? Login instead</a>
        </div>

</form>

{% endblock content %}